@using MobileMonitoring.Shared;

@attribute [Authorize]

@inject IHttpClientFactory httpFactory;


<h3 class="h4">@TileName</h3>

<div class="table-responsive">
    @if (numberSequences is null)
    {
        <div>
            <p>No @TileName data to publish</p>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id Number Sequence</th>
                    <th scope="col">Company</th>
                    <th scope="col">Number Sequence</th>
                    <th scope="col">In Use</th>
                    <th scope="col">Remaining (%)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (NumberSequenceDto number in numberSequences)
                {
                    <tr class="@number.CriticalNumberSequence()">
                        <th scope="row">@number.IdNumberSequence</th>
                        <td>@number.Company</td>
                        <td>@number.NbSequence</td>
                        <td>@number.InUse</td>
                        <td>@number.Remaining</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <p><em>* The remaining limit is set at 10%</em></p>
</div>


@code {
    private IEnumerable<NumberSequenceDto>? numberSequences = null;

    [Parameter]
    public string? TileName { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var httpSec = httpFactory.CreateClient("PrivateApi");
            numberSequences = await httpSec.GetFromJsonAsync<IEnumerable<NumberSequenceDto>>("api/NumberSequences");
        }
        catch (AccessTokenNotAvailableException e)
        {
            e.Redirect();
        }

        await base.OnParametersSetAsync();
    }
}
